$('.teams_list').append('<li class="current_team"><%= j @team.name + ' : ' + @team.user.email %></li>');
$('.teams_list').append('<%= j render partial: "representatives_form" %>');
$('.new_team').each(function(){
    this.reset();
});

