<h3>Find a League</h3>

<div class="row">
  <div class="column_12 padding">
    <ul>
    <% @leagues.each do |league| %>
      <li><%= link_to league.name , league_path(league.id) %></li>
    <% end %>
    </ul>

    <%= link_to 'Create New League', new_league_path, :class => "button" %>
  </div>
</div>
